
<div ng-controller="CirkleController">
	<div class="sidebar">
		<div class="sidebar-block">
			<input type="text" id="add_member" placeholder="Add Member" class="sidebar-ac form-control" />
		</div>
		<div class="sidebar-block" ng-init="initMembers()">
			<div class="sidebar-item" ng-repeat="(id, member) in members">
				<a ng-click="selectMember(id)"><img class="cirkle-icon" ng-src="{{member.ico}}" /></a>
				<a ng-click="selectMember(id)"><h4>{{member.name}}</h4></a>
			</div>
		</div>
	</div>
	<div class="cl-content" ng-init="init()">
		<div id="cl-map" />
	</div>
</div>